In [4]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
%matplotlib inline

from datetime import timedelta

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score, mean_squared_error, confusion_matrix,\
                            f1_score,precision_score,recall_score,classification_report,cohen_kappa_score
import xgboost as xgb
from sklearn import preprocessing

In [ ]:
# df_events información de eventos realizado en la plataforma para un conjunto de usuarios hasta el 31/05/2018
df_events = pd.read_csv('../../data/events_up_to_01062018.csv',dtype=object)
# df_train archivo labels_training_set.csv indica para un subconjunto de los usuarios incluidos en el set de 
# eventos events_up_to_01062018.csv si los mismos realizaron una conversión (columna label = 1) o no (columna 
# label = 0) desde el 01/06/2018 hasta el 15/06/2018
df_labels = pd.read_csv('../../data/labels_training_set.csv',dtype=object)
# Personas a predecir conversion.
df_person = pd.read_csv('../../data/trocafone_kaggle_test.csv')

In [13]:
df_labels['label'] = df_labels['label'].astype(int)
df_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19414 entries, 0 to 19413
Data columns (total 2 columns):
person    19414 non-null object
label     19414 non-null int64
dtypes: int64(1), object(1)
memory usage: 303.4+ KB

In [15]:
df_events = df_events[['person','timestamp']]

In [16]:
df_events["timestamp"] = pd.to_datetime(df_events["timestamp"])
df_events["month"] = df_events["timestamp"].dt.month
df_events["day"] = df_events["timestamp"].dt.day
df_events["day_of_week"] = df_events['timestamp'].dt.weekday_name
df_events['day_of_year'] = df_events['timestamp'].dt.dayofyear
df_events['hour'] = df_events['timestamp'].dt.hour
df_events['minute'] = df_events['timestamp'].dt.minute
#df_events['second'] = df_events['timestamp'].dt.second
df_events['week_of_year'] = df_events['timestamp'].dt.weekofyear

In [17]:
df_events.head()

,person,timestamp,month,day,day_of_week,day_of_year,hour,minute,week_of_year
0,4886f805,2018-05-18 00:11:59,5,18,Friday,138,0,11,20
1,ad93850f,2018-05-18 00:11:27,5,18,Friday,138,0,11,20
2,0297fc1e,2018-05-18 00:11:16,5,18,Friday,138,0,11,20
3,2d681dd8,2018-05-18 00:11:14,5,18,Friday,138,0,11,20
4,cccea85e,2018-05-18 00:11:09,5,18,Friday,138,0,11,20

## Mes

#### Cantidad de eventos en un mes.

In [19]:
df_month = pd.concat([df_events['person'],pd.get_dummies(df_events['month'])],axis = 1).groupby('person').sum().\
    reset_index()
df_month.columns = ['person','mes_1','mes_2','mes_3','mes_4','mes_5']
df_month.head()

     person  mes_1  mes_2  mes_3  mes_4  mes_5
0  0008ed71    0.0    0.0    0.0    0.0    6.0
1  00091926    0.0    0.0    0.0    0.0  448.0
2  00091a7a    0.0    0.0   10.0    0.0    0.0
3  000ba417    0.0    0.0    0.0    0.0  206.0
4  000c79fe    0.0    0.0    0.0    0.0   17.0

In [20]:
'''
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pandas.DataFrame(x_scaled)
'''

'\nfrom sklearn import preprocessing\n\nx = df.values #returns a numpy array\nmin_max_scaler = preprocessing.MinMaxScaler()\nx_scaled = min_max_scaler.fit_transform(x)\ndf = pandas.DataFrame(x_scaled)\n'

#### Entro a la pagina en un mes o no. (Asumo que si hizo un evento significa que entro a la pagina)

In [21]:
df_month2 = pd.concat([df_events['person'],pd.get_dummies(df_events['month'])],axis = 1).drop_duplicates()\
                .groupby('person').sum().reset_index()
df_month2.columns = ['person','mes_1','mes_2','mes_3','mes_4','mes_5']
df_month2.head()

     person  mes_1  mes_2  mes_3  mes_4  mes_5
0  0008ed71      0      0      0      0      1
1  00091926      0      0      0      0      1
2  00091a7a      0      0      1      0      0
3  000ba417      0      0      0      0      1
4  000c79fe      0      0      0      0      1

## Dia

#### Cantidad de eventos en un dia del mes

In [22]:
df_day = pd.concat([df_events['person'],pd.get_dummies(df_events['day'])],axis = 1).groupby('person').sum().\
    reset_index()

In [23]:
columnas = ['dia_' + str(i) for i in range(1,32)]
columnas.insert(0,'person')
df_day.columns = columnas

In [24]:
df_day.head()

,person,dia_1,dia_2,dia_3,dia_4,dia_5,dia_6,dia_7,dia_8,dia_9,...,dia_22,dia_23,dia_24,dia_25,dia_26,dia_27,dia_28,dia_29,dia_30,dia_31
0,0008ed71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00091926,0.0,0.0,7.0,0.0,20.0,6.0,11.0,6.0,3.0,...,12.0,36.0,0.0,0.0,10.0,18.0,0.0,3.0,0.0,16.0
2,00091a7a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,79.0,0.0,59.0,0.0,0.0,0.0,0.0,0.0
4,000c79fe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0

#### Entro a la pagina en un dia del mes

In [25]:
df_day2 = pd.concat([df_events['person'],pd.get_dummies(df_events['day'])],axis = 1).drop_duplicates()\
        .groupby('person').sum().reset_index()

In [26]:
columnas = ['dia_' + str(i) for i in range(1,32)]
columnas.insert(0,'person')
df_day2.columns = columnas

In [27]:
df_day2.head()

,person,dia_1,dia_2,dia_3,dia_4,dia_5,dia_6,dia_7,dia_8,dia_9,...,dia_22,dia_23,dia_24,dia_25,dia_26,dia_27,dia_28,dia_29,dia_30,dia_31
0,0008ed71,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00091926,0,0,1,0,1,1,1,1,1,...,1,1,0,0,1,1,0,1,0,1
2,00091a7a,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,000ba417,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,000c79fe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

#### Cantidad de eventos segun quincena

In [28]:
df_day3 = df_events[['person','day']]

In [29]:
df_day3['primer_quincena'] = ((df_day3['day'] >=1) & (df_day3['day'] < 16)).astype(int)
df_day3['segunda_quincena'] = (df_day3['day'] > 16).astype(int)

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
df_day3 = df_day3.drop(columns = ['day'])

In [31]:
df_day3 = df_day3.groupby('person').sum().reset_index()

In [32]:
df_day3.head()

     person  primer_quincena  segunda_quincena
0  0008ed71                0                 6
1  00091926              187               260
2  00091a7a                0                10
3  000ba417                0               206
4  000c79fe                0                17

#### Visito la pagina en quincena

In [33]:
df_day4 = df_events[['person','day']]

df_day4['primer_quincena'] = ((df_day4['day'] >=1) & (df_day4['day'] < 16)).astype(int)
df_day4['segunda_quincena'] = (df_day4['day'] > 16).astype(int)

df_day4 = df_day4.drop(columns = ['day'])

df_day4 = df_day4.drop_duplicates().groupby('person').sum().reset_index()

df_day4.head()

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

     person  primer_quincena  segunda_quincena
0  0008ed71                0                 1
1  00091926                1                 1
2  00091a7a                0                 1
3  000ba417                0                 1
4  000c79fe                0                 1

In [34]:
# Ver semana del mes.

## Dia de la semana (lunes,martes,...)

#### Cantidad de eventos por dia.

In [35]:
df_events['day_of_week'].value_counts()

Wednesday    423333
Thursday     418433
Tuesday      406008
Monday       331889
Friday       301024
Saturday     245292
Sunday       215702
Name: day_of_week, dtype: int64

In [36]:
df_day_of_week = pd.concat([df_events['person'],pd.get_dummies(df_events['day_of_week'])],axis = 1)\
                .groupby('person').sum().reset_index()
df_day_of_week.head()

     person  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0  0008ed71     0.0     0.0       0.0     0.0       6.0      0.0        0.0
1  00091926    86.0    32.0      32.0   131.0      84.0     43.0       40.0
2  00091a7a     0.0    10.0       0.0     0.0       0.0      0.0        0.0
3  000ba417     0.0     0.0      59.0     0.0     147.0      0.0        0.0
4  000c79fe     0.0     0.0       0.0     0.0       0.0     17.0        0.0

#### Visito la pagina en un dia de la semana.

In [37]:
df_day_of_week2 = pd.concat([df_events['person'],pd.get_dummies(df_events['day_of_week'])],axis = 1)\
                .drop_duplicates().groupby('person').sum().reset_index()
df_day_of_week2.head()

     person  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0  0008ed71       0       0         0       0         1        0          0
1  00091926       1       1         1       1         1        1          1
2  00091a7a       0       1         0       0         0        0          0
3  000ba417       0       0         1       0         1        0          0
4  000c79fe       0       0         0       0         0        1          0

#### Cantidad de eventos en fin de semana.

In [38]:
df_day_of_week3 = df_events[['person','day_of_week']]

In [39]:
df_day_of_week3['fin_de_semana'] = df_day_of_week3['day_of_week'].isin(['Saturday','Sunday'])

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
df_day_of_week3 = df_day_of_week3.groupby('person').sum().reset_index()

In [41]:
df_day_of_week3.head()

     person  fin_de_semana
0  0008ed71            0.0
1  00091926          163.0
2  00091a7a            0.0
3  000ba417           59.0
4  000c79fe            0.0

#### Visito la pagina en fin de semana.

In [42]:
df_day_of_week4 = df_events[['person','day_of_week']]
df_day_of_week4['fin_de_semana'] = (df_day_of_week4['day_of_week'].isin(['Saturday','Sunday'])).astype(int)
df_day_of_week4.drop(columns = ['day_of_week'],inplace = True)
df_day_of_week4.drop_duplicates(inplace = True)
df_day_of_week4 = df_day_of_week4.groupby('person').sum().reset_index()
df_day_of_week4.head()

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

     person  fin_de_semana
0  0008ed71              0
1  00091926              1
2  00091a7a              0
3  000ba417              1
4  000c79fe              0

#### Cantidad de eventos en martes-miercoles-jueves

In [43]:
df_day_of_week5 = df_events[['person','day_of_week']]

df_day_of_week5['martes_miercoles_jueves'] = df_day_of_week5['day_of_week'].isin(['Tuesday','Wednesday','Thursday'])

df_day_of_week5 = df_day_of_week5.groupby('person').sum().reset_index()

df_day_of_week5.head()

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     person  martes_miercoles_jueves
0  0008ed71                      6.0
1  00091926                    167.0
2  00091a7a                      0.0
3  000ba417                    147.0
4  000c79fe                     17.0

#### Visita la pagina miercoles, jueves o viernes.

In [44]:
df_day_of_week6 = df_events[['person','day_of_week']]
df_day_of_week6['martes_miercoles_jueves'] = (df_day_of_week6['day_of_week'].isin(['Tuesday','Wednesday','Thursday'])).astype(int)
df_day_of_week6.drop(columns = ['day_of_week'],inplace = True)
df_day_of_week6.drop_duplicates(inplace = True)
df_day_of_week6 = df_day_of_week6.groupby('person').sum().reset_index()
df_day_of_week6.head()

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/santi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

     person  martes_miercoles_jueves
0  0008ed71                        1
1  00091926                        1
2  00091a7a                        0
3  000ba417                        1
4  000c79fe                        1

## Hora

#### Cantidad de eventos por hora. (Todas las horas)

In [56]:
df_hour = df_events[['person','hour']]

In [57]:
df_hour1 = pd.concat([df_hour['person'],pd.get_dummies(df_hour['hour'])],axis = 1).groupby('person').sum()\
            .reset_index()
df_hour1.head()

,person,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,0008ed71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00091926,117.0,122.0,33.0,15.0,26.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,50.0,10.0,0.0,3.0,7.0,65.0
2,00091a7a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,59.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000c79fe,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Entro a la pagina en una determianda hora (todas las horas).

In [58]:
df_hour2 = pd.concat([df_hour['person'],pd.get_dummies(df_hour['hour'])],axis = 1).drop_duplicates()\
            .groupby('person').sum().reset_index()
df_hour2.head()

,person,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,0008ed71,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,00091926,1,1,1,1,1,0,0,0,0,...,0,0,0,0,1,1,0,1,1,1
2,00091a7a,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,000ba417,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,000c79fe,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Cantidad de eventos en rango de horas (Paso de 4 horas)

In [71]:
df_hour_rango = df_hour.copy()

In [72]:
df_hour_rango['0-3'] = (df_hour_rango['hour'].isin(list(range(0,4)))).astype(int)
df_hour_rango['4-7'] = (df_hour_rango['hour'].isin(list(range(4,8)))).astype(int)
df_hour_rango['8-11'] = (df_hour_rango['hour'].isin(list(range(8,12)))).astype(int)
df_hour_rango['12-15'] = (df_hour_rango['hour'].isin(list(range(12,16)))).astype(int)
df_hour_rango['16-19'] = (df_hour_rango['hour'].isin(list(range(16,20)))).astype(int)
df_hour_rango['20-23'] = (df_hour_rango['hour'].isin(list(range(20,24)))).astype(int)

In [73]:
df_hour_rango.drop(columns = 'hour',inplace = True)

In [74]:
df_hour_rango1 = df_hour_rango.groupby('person').sum().reset_index()

In [75]:
df_hour_rango1.head()

     person  0-3  4-7  8-11  12-15  16-19  20-23
0  0008ed71    0    0     0      3      3      0
1  00091926  287   26     0      0     60     75
2  00091a7a    0    0     0     10      0      0
3  000ba417    0    0    57     68     81      0
4  000c79fe   17    0     0      0      0      0

#### Visita pagina en rango de horas (Paso de 4 horas)

In [76]:
df_hour_rango2 = df_hour_rango.drop_duplicates().groupby('person').sum().reset_index()

In [79]:
df_hour_rango2.head()

     person  0-3  4-7  8-11  12-15  16-19  20-23
0  0008ed71    0    0     0      1      1      0
1  00091926    1    1     0      0      1      1
2  00091a7a    0    0     0      1      0      0
3  000ba417    0    0     1      1      1      0
4  000c79fe    1    0     0      0      0      0

#### Cantidad de eventos en rango de horas (Morning , Afternoon, Evening y Night)

Morning     5 a 12  

Afternoon     12 a 17

Evening     17 a 21

Night         21 a 4

In [93]:
df_hour_rango2 = df_hour.copy()

In [94]:
df_hour_rango2['Morning'] = (df_hour_rango2['hour'].isin(list(range(5,13)))).astype(int)
df_hour_rango2['Afternoon'] = (df_hour_rango2['hour'].isin(list(range(13,18)))).astype(int)
df_hour_rango2['Evening'] = (df_hour_rango2['hour'].isin(list(range(18,21)))).astype(int)
df_hour_rango2['Night'] = (df_hour_rango2['hour'].isin([22,23,0,1,2,3,4])).astype(int)
df_hour_rango2.drop(columns = ['hour'],inplace = True)

In [96]:
df_hour_rango2a = df_hour_rango2.groupby('person').sum().reset_index()

In [97]:
df_hour_rango2a.head()

     person  Morning  Afternoon  Evening  Night
0  0008ed71        1          5        0      0
1  00091926        0          0       60    385
2  00091a7a        0         10        0      0
3  000ba417      100        106        0      0
4  000c79fe        0          0        0     17

#### Visita la pagina en rango de horas (Morning , Afternoon, Evening y Night)

In [98]:
df_hour_rango2b = df_hour_rango2.drop_duplicates().groupby('person').sum().reset_index()

In [99]:
df_hour_rango2b.head()

     person  Morning  Afternoon  Evening  Night
0  0008ed71        1          1        0      0
1  00091926        0          0        1      1
2  00091a7a        0          1        0      0
3  000ba417        1          1        0      0
4  000c79fe        0          0        0      1

## Minuto

#### Cantidad de eventos en rango de minutos (0-19, 20-39,40-59)

In [106]:
df_minute = df_events[['person','minute']]

In [107]:
df_minute1 = df_minute.copy()

In [109]:
df_minute1['minuto_0-19'] = (df_minute1['minute'].isin(list(range(0,20)))).astype(int)
df_minute1['minuto_20-39'] = (df_minute1['minute'].isin(list(range(20,40)))).astype(int)
df_minute1['minuto_40-59'] = (df_minute1['minute'].isin(list(range(40,60)))).astype(int)
df_minute1.drop(columns = ['minute'],inplace = True)

In [111]:
df_minute1a = df_minute1.groupby('person').sum().reset_index()

In [112]:
df_minute1a.head()

     person  minuto_0-19  minuto_20-39  minuto_40-59
0  0008ed71            0             4             2
1  00091926          137           169           142
2  00091a7a            0             0            10
3  000ba417           74            78            54
4  000c79fe            0            17             0

#### Visito la pagina en rango de minutos

In [113]:
df_minute1b = df_minute1.drop_duplicates().groupby('person').sum().reset_index()
df_minute1b.head()

     person  minuto_0-19  minuto_20-39  minuto_40-59
0  0008ed71            0             1             1
1  00091926            1             1             1
2  00091a7a            0             0             1
3  000ba417            1             1             1
4  000c79fe            0             1             0

#### Cantidad de eventos en minuto (todos los minutos)

In [118]:
df_minute2 = pd.concat([df_minute['person'],pd.get_dummies(df_minute['minute'])],axis=1).groupby('person').sum().reset_index()

In [119]:
# Esto es demasiado, pero lo pongo por las dudas..
df_minute2.head()

,person,0,1,2,3,4,5,6,7,8,...,50,51,52,53,54,55,56,57,58,59
0,0008ed71,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00091926,10,18,8,9,2,6,6,13,9,...,12,8,4,4,2,8,14,5,11,1
2,00091a7a,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,2,5,0,0,0
3,000ba417,5,11,6,3,0,4,0,0,0,...,3,0,0,0,9,2,2,6,0,2
4,000c79fe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Semana del año

In [122]:
df_events['week_of_year'].value_counts()

21    540477
20    495049
22    408822
19    166141
18    118139
17     96538
16     67727
15     65513
14     60947
13     55405
12     55377
11     40157
10     31867
9      28420
8      21058
5      16097
7      15546
6      15323
3      12688
2      12122
4      11537
1       6731
Name: week_of_year, dtype: int64

#### Cantidad de eventos en top K semanas del año.

In [992]:
K = 5

In [993]:
df_week_of_year = df_events[['person','week_of_year']]

In [994]:
top_K_week_of_year = df_week_of_year['week_of_year'].value_counts().head(K).index

In [995]:
df_week_of_year = pd.concat([df_week_of_year,pd.get_dummies(df_week_of_year['week_of_year'])[top_K_week_of_year]],axis = 1)

In [996]:
df_week_of_year.drop(columns = ['week_of_year'],inplace = True)

In [997]:
df_week_of_year1 = df_week_of_year.groupby('person').sum().reset_index()

In [998]:
df_week_of_year1.head()

     person     21     20    22     19    18
0  0008ed71    0.0    6.0   0.0    0.0   0.0
1  00091926   97.0  167.0  19.0  132.0  33.0
2  00091a7a    0.0    0.0   0.0    0.0   0.0
3  000ba417  138.0   68.0   0.0    0.0   0.0
4  000c79fe    0.0    0.0  17.0    0.0   0.0

#### Visito la pagina en top K semanas del año.

In [999]:
df_week_of_year2 = df_week_of_year.drop_duplicates().groupby('person').sum().reset_index()

In [1000]:
df_week_of_year2.head()

     person  21  20  22  19  18
0  0008ed71   0   1   0   0   0
1  00091926   1   1   1   1   1
2  00091a7a   0   0   0   0   0
3  000ba417   1   1   0   0   0
4  000c79fe   0   0   1   0   0

## Dia del año.

#### Cantidad de eventos en top K dias del año.

In [1001]:
K = 5

df_day_of_year = df_events[['person','day_of_year']]

top_K_day_of_year = df_day_of_year['day_of_year'].value_counts().head(K).index

df_day_of_year = pd.concat([df_day_of_year,pd.get_dummies(df_day_of_year['day_of_year'])[top_K_day_of_year]],axis = 1)

df_day_of_year.drop(columns = ['day_of_year'],inplace = True)

df_day_of_year1 = df_day_of_year.groupby('person').sum().reset_index()

df_day_of_year1.head()

     person   149  150   151  148   142
0  0008ed71   0.0  0.0   0.0  0.0   0.0
1  00091926   3.0  0.0  16.0  0.0  12.0
2  00091a7a   0.0  0.0   0.0  0.0   0.0
3  000ba417   0.0  0.0   0.0  0.0   0.0
4  000c79fe  17.0  0.0   0.0  0.0   0.0

# Prueba

In [1002]:
df_train = pd.merge(df_month,df_day2,how = 'inner',on = 'person')

In [1003]:
df_train = pd.merge(df_train,df_day4,how = 'inner',on = 'person')

In [1004]:
df_train = pd.merge(df_train,df_day_of_week2,how = 'inner',on = 'person')

In [1005]:
df_train = pd.merge(df_train,df_day_of_week4,how = 'inner',on = 'person')

In [1006]:
df_train = pd.merge(df_train,df_day_of_week6,how = 'inner',on = 'person')

In [1007]:
df_train = pd.merge(df_train,df_day_of_week6,how = 'inner',on = 'person')

In [1008]:
df_train = pd.merge(df_train,df_minute1a,how = 'inner',on = 'person')

In [1009]:
df_train = pd.merge(df_train,df_hour_rango2b,how = 'inner',on = 'person')

In [1010]:
df_train = pd.merge(df_train,df_week_of_year2,how = 'inner',on = 'person')

In [1011]:
df_train = pd.merge(df_train,df_day_of_year1,how = 'inner',on = 'person')

In [1012]:
x = df_train.loc[:,df_train.columns != 'person']
maxAbsScaler = preprocessing.StandardScaler()
x_scaled = maxAbsScaler.fit_transform(x)
df_train = pd.concat([df_train['person'],pd.DataFrame(x_scaled)],axis = 1)

In [1013]:
df_train.head()

,person,0,1,2,3,4,5,6,7,8,...,55,56,57,58,59,60,61,62,63,64
0,0008ed71,-0.085852,-0.099367,-0.148146,-0.190034,-0.502433,-0.202947,-0.228079,-0.237061,-0.232666,...,-0.959980,1.216348,-0.817128,-0.407733,-0.339929,-0.238520,-0.24557,-0.239029,-0.235072,-0.224591
1,00091926,-0.085852,-0.099367,-0.148146,-0.190034,5.320175,-0.202947,-0.228079,4.218328,-0.232666,...,1.041688,1.216348,1.223799,2.452586,2.941794,0.015370,-0.24557,1.211268,-0.235072,0.986877
2,00091a7a,-0.085852,-0.099367,0.148689,-0.190034,-0.581473,-0.202947,-0.228079,-0.237061,-0.232666,...,-0.959980,-0.822133,-0.817128,-0.407733,-0.339929,-0.238520,-0.24557,-0.239029,-0.235072,-0.224591
3,000ba417,-0.085852,-0.099367,-0.148146,-0.190034,2.132231,-0.202947,-0.228079,-0.237061,-0.232666,...,1.041688,1.216348,-0.817128,-0.407733,-0.339929,-0.238520,-0.24557,-0.239029,-0.235072,-0.224591
4,000c79fe,-0.085852,-0.099367,-0.148146,-0.190034,-0.357527,-0.202947,-0.228079,-0.237061,-0.232666,...,-0.959980,-0.822133,1.223799,-0.407733,-0.339929,1.200192,-0.24557,-0.239029,-0.235072,-0.224591

In [1014]:
df_train_con_labels = pd.merge(df_train,df_labels,on = 'person',how = 'inner').drop(columns = ['person'])
df_train_con_labels.shape

(19414, 66)

In [1015]:
X, y = df_train_con_labels.iloc[:,:-1],df_train_con_labels.iloc[:,-1]

In [1016]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=123)

In [1017]:
xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 9.5, min_child_weight=1)

In [1018]:
xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [1019]:
preds = xg_reg.predict(X_test)

In [1020]:
train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.8618891249758548
Test acuracy:  0.8501158897759464
ROC auc score:  0.6133666679902209
Confusion matrix:
[[3234  458]
 [ 124   67]]