In [2]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
from datetime import timedelta
%matplotlib inline

#from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, roc_auc_score

import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [1]:
labels = pd.read_csv("../../labels_training_set.csv")
df = pd.read_csv("../../events_up_to_01062018.csv")

NameError: name 'pd' is not defined

In [3]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df["month"] = df["timestamp"].dt.month
df["day"] = df["timestamp"].dt.day

In [291]:
df["event"].value_counts()

viewed product       1248124
brand listing         216312
visited site          204069
ad campaign hit       191388
generic listing       160176
searched products     130616
search engine hit     106406
checkout               65315
staticpage             11201
conversion              7091
lead                     983
Name: event, dtype: int64

### Dia, mes con mayor cantidad de visitas de cada persona

In [4]:
# Dia con mas entradas y su cantidad de entradas

entradas_x_dia = df.groupby("person")['day'].value_counts().rename("cant_dia_freq").reset_index()
entradas_x_dia.columns = ['person', 'day', 'cant_dia_freq']
entradas_x_dia = entradas_x_dia.sort_values('cant_dia_freq',ascending=False)
dia_mas_entradas = entradas_x_dia.drop_duplicates(subset=['person'])
dia_mas_entradas.head()

          person  day  cant_dia_freq
99325   c76b8417    3            652
28266   37eff05b   29            616
112559  e1443dd4   30            572
51164   656c18ef   10            512
41082   50e16a8a   19            423

In [5]:
# Mes con mas entradas y su cantidad de entradas

entradas_x_mes = df.groupby("person")['month'].value_counts().rename("cant_mes").reset_index()
entradas_x_mes.columns = ['person', 'month', 'cant_mes']
entradas_x_mes = entradas_x_mes.sort_values('cant_mes',ascending=False)
mes_mas_entradas = entradas_x_mes.drop_duplicates(subset=['person'])
mes_mas_entradas.head()

         person  month  cant_mes
38966  c76b8417      5      3028
18217  5c76e694      5      1609
32890  a7ffa917      5      1604
4824   18489dd5      5      1563
9989   33385551      4      1539

In [6]:
# Merge

cant_mes_mas_entradas = mes_mas_entradas[["person", "cant_mes"]]
cant_dia_mas_entradas = dia_mas_entradas[["person", "cant_dia_freq"]]

mes_dia_mas_entradas = pd.merge(cant_mes_mas_entradas, cant_dia_mas_entradas, on="person", how="inner")

df_con_labels = pd.merge(mes_dia_mas_entradas, labels, on="person", how="right")
df_con_labels.head()

     person  cant_mes  cant_dia_freq  label
0  5c76e694      1609            191      0
1  18489dd5      1563            174      0
2  1775ba85      1450            126      0
3  6abd2bf1      1334            300      0
4  97b0c0d1      1328            217      0

In [7]:
df_con_labels_num = df_con_labels[["cant_mes", "cant_dia_freq", "label"]]

## Prueba

In [71]:
# Separamos la variable a predecir

X, y = df_con_labels_num.iloc[:,:-1],df_con_labels_num.iloc[:,-1]

In [72]:
# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

In [73]:

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [160]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [106]:
ratio

19.196358907672302

In [107]:
np.sum(y_train == 0)

14762

In [52]:
np.sum(y_train == 1)

769

In [161]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [162]:
# Predecimos

preds = xg_reg.predict(X_test)

In [163]:
# Vemos que onda

train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.9303328826218531
Test acuracy:  0.927890806077775
ROC auc score:  0.5285741205381574
Confusion matrix:
[[3586   86]
 [ 194   17]]

### Entradas en los ultimos 30 dias (hasta la ultima visita)

In [164]:
df_meses = df[["timestamp", "person", "month"]]
df_ultimo_dia = df_meses.groupby("person")["timestamp"].max().reset_index()
df_ultimo_dia.columns = ["person", "last_day"]
df_meses_ultimo_dia = pd.merge(df_ultimo_dia, df_meses, on="person", how="inner")
entradas_30_dias = df_meses_ultimo_dia.loc[((df_meses_ultimo_dia["last_day"] - timedelta(days=30)) < \
                                           df_meses_ultimo_dia["timestamp"]) & (df_meses_ultimo_dia["timestamp"]< \
                                           df_meses_ultimo_dia["last_day"])]
entradas_30_dias.head()

     person            last_day           timestamp  month
1  0008ed71 2018-05-17 16:28:37 2018-05-17 12:27:47      5
2  0008ed71 2018-05-17 16:28:37 2018-05-17 13:45:00      5
3  0008ed71 2018-05-17 16:28:37 2018-05-17 16:22:06      5
4  0008ed71 2018-05-17 16:28:37 2018-05-17 13:44:59      5
5  0008ed71 2018-05-17 16:28:37 2018-05-17 16:21:54      5

In [165]:
entradas_30_dias_df = entradas_30_dias["person"].value_counts().rename("entradas_30_dias").reset_index()
entradas_30_dias_df.columns = ["person", "entradas_30_dias"]
entradas_30_dias_df.head()

     person  entradas_30_dias
0  c76b8417              3027
1  5c76e694              1608
2  a7ffa917              1603
3  18489dd5              1562
4  622b4acf              1458

In [166]:
# Merge

df_con_labels2 = pd.merge(entradas_30_dias_df, df_con_labels, on="person", how="inner")
df_con_labels2.head()

     person  entradas_30_dias  cant_mes  cant_dia_freq  label
0  5c76e694              1608      1609            191      0
1  18489dd5              1562      1563            174      0
2  6abd2bf1              1319      1334            300      0
3  97b0c0d1              1306      1328            217      0
4  595b9b50              1177      1179            377      0

In [167]:
df_con_labels2_num = df_con_labels2[["entradas_30_dias", "cant_mes", "cant_dia_freq", "label"]]

## Prueba

In [168]:
# Separamos la variable a predecir

X, y = df_con_labels2_num.iloc[:,:-1], df_con_labels2_num.iloc[:,-1]

In [169]:
# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

In [170]:

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [171]:
preds

array([0., 0., 1., ..., 0., 0., 0.], dtype=float32)

In [174]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [175]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [176]:
# Predecimos

preds = xg_reg.predict(X_test)
preds

array([0., 0., 0., ..., 0., 1., 0.], dtype=float32)

In [177]:
# Vemos que onda

train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.9186168814094137
Test acuracy:  0.9155929529318959
ROC auc score:  0.5394021778913864
Confusion matrix:
[[3459  155]
 [ 166   23]]

## Entradas en el ultimo mes (mes 5)

In [178]:
entradas_mes_5 = df_meses.loc[df_meses["month"] == 5]
cant_entradas_mes_5 = entradas_mes_5.groupby("person").agg({"month": "count"}).reset_index()
cant_entradas_mes_5.columns = ["person", "cant_mes_5"]
cant_entradas_mes_5.head()

     person  cant_mes_5
0  0008ed71           6
1  00091926         448
2  000ba417         206
3  000c79fe          17
4  000e4d9e         411

In [179]:
# Merge

df_con_mes_5 = pd.merge(cant_entradas_mes_5, df_con_labels2, on="person", how="inner")
df_con_mes_5.head()

     person  cant_mes_5  entradas_30_dias  cant_mes  cant_dia_freq  label
0  0008ed71           6                 5         6              6      0
1  000c79fe          17                16        17             17      0
2  001802e4          19                18        19             19      0
3  0019e639         290               358       290             72      0
4  001b0bf9           7                 6         7              7      0

## Cantidad de entradas totales

In [180]:
entradas_tot = df.groupby("person").agg({"person": "count"})
#cant_entradas_tot = entradas_tot[["person", "entradas_tot"]]
entradas_tot.columns = ["cant_entradas"]
entradas_tot.reset_index(inplace=True)
entradas_tot.head()

     person  cant_entradas
0  0008ed71              6
1  00091926            448
2  00091a7a             10
3  000ba417            206
4  000c79fe             17

In [181]:
# Merge

df_con_entradas = pd.merge(entradas_tot, df_con_mes_5, on="person", how="inner")
df_con_entradas.head()

,person,cant_entradas,cant_mes_5,entradas_30_dias,cant_mes,cant_dia_freq,label
0,0008ed71,6,6,5,6,6,0
1,000c79fe,17,17,16,17,17,0
2,001802e4,19,19,18,19,19,0
3,0019e639,471,290,358,290,72,0
4,001b0bf9,7,7,6,7,7,0

### Cantidad de checkouts

In [182]:
checkouts = df.loc[df["event"] == "checkout"]
checkouts_tot = checkouts.groupby("person")["event"].value_counts().rename("check_tot").reset_index()
cant_checkouts_tot = checkouts_tot[["person", "check_tot"]]

In [183]:
# Merge

df_con_check = pd.merge(cant_checkouts_tot, df_con_entradas, on="person", how="inner")
df_con_check.head()

,person,check_tot,cant_entradas,cant_mes_5,entradas_30_dias,cant_mes,cant_dia_freq,label
0,0008ed71,3,6,6,5,6,6,0
1,000c79fe,1,17,17,16,17,17,0
2,001802e4,1,19,19,18,19,19,0
3,0019e639,15,471,290,358,290,72,0
4,001b0bf9,2,7,7,6,7,7,0

In [184]:
# xgboost solo usa valores numericos
df_con_check_num = df_con_check.drop(columns="person")

### Prueba

In [185]:
# Separamos la variable a predecir

X, y = df_con_check_num.iloc[:,:-1], df_con_check_num.iloc[:,-1]

In [186]:
# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

In [187]:

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [188]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [189]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [190]:
# Predecimos

preds = xg_reg.predict(X_test)
preds

array([0., 0., 0., ..., 0., 0., 0.], dtype=float32)

In [191]:
# Vemos que onda

train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.9448868071818891
Test acuracy:  0.9375585388698096
ROC auc score:  0.5753296607423287
Confusion matrix:
[[2988  138]
 [  62   15]]

## Cantidad de entradas al evento mas visitado por cada persona

In [192]:
s = df.groupby("person")['event'].value_counts().rename().reset_index()
s.columns = ['person', 'event', 'cant_ev']
s = s.sort_values('cant_ev',ascending=False)
mayor_evento = s.drop_duplicates(subset=['person']).drop(columns="event")
mayor_evento.head()

          person  cant_ev
97161   6abd2bf1     2355
160896  b1f4dbf6     2233
129961  8fb4929e     1912
141831  9ccf882a     1891
6202    06ed04d6     1881

In [193]:
# Cantidad de entradas al modelo mas visitado por cada persona

mod = df.groupby("person")['model'].value_counts().rename().reset_index()
mod.columns = ['person', 'model', 'cant_mod']
mod = mod.sort_values('cant_mod',ascending=False)
mayor_modelo = mod.drop_duplicates(subset=['person']).drop(columns="model")
mayor_modelo.head()

          person  cant_mod
154136  b1f4dbf6       836
20443   171e75cb       683
97765   6f19cfd9       624
94322   6abd2bf1       607
135679  9bf968c5       568

In [194]:
# Cantidad de entradas al search engine mas visitado por cada persona

eng = df.groupby("person")['search_engine'].value_counts().rename().reset_index()
eng.columns = ['person', 'search_engine', 'cant_eng']
eng = eng.sort_values('cant_eng',ascending=False)
mayor_engine = eng.drop_duplicates(subset=['person']).drop(columns="search_engine")
mayor_engine.head()

         person  cant_eng
20377  c76b8417       762
11210  6ca3126e       245
10145  622b4acf       206
3906   25b77cf2       161
9593   5c76e694       136

In [195]:
# Cantidad de entradas al campaign source mas visitado por cada persona

src = df.groupby("person")['campaign_source'].value_counts().rename().reset_index()
src.columns = ['person', 'campaign_source', 'cant_src']
src = src.sort_values('cant_src',ascending=False)
mayor_camp = src.drop_duplicates(subset=['person']).drop(columns="campaign_source")
mayor_camp.head()

         person  cant_src
529    02f14240       500
36357  c76b8417       374
19910  6ca3126e       335
17899  622b4acf       282
10671  3b2d17f6       221

In [196]:
# Cantidad de entradas desde la ciudad mas frecuente de cada persona

cty = df.groupby("person")['city'].value_counts().rename().reset_index()
cty.columns = ['person', 'city', 'cant_city']
src = cty.sort_values('cant_city',ascending=False)
mayor_ciudad = src.drop_duplicates(subset=['person']).drop(columns="city")
mayor_ciudad.head()

         person  cant_city
18380  5059f7fd        268
27926  7ac0c607        208
23603  67bdc946        207
58123  ffee0f18        173
35216  9b3b43aa        171

In [197]:
# Merge

from functools import reduce

# merge de todos los dfs

dfs = [mayor_ciudad, mayor_camp, mayor_engine, mayor_modelo, mayor_evento, df_con_check]
df_final = reduce(lambda left,right: pd.merge(left,right,on='person', how='inner'), dfs)
df_final.head()

,person,cant_city,cant_src,cant_eng,cant_mod,cant_ev,check_tot,cant_entradas,cant_mes_5,entradas_30_dias,cant_mes,cant_dia_freq,label
0,ffee0f18,173,76,65,80,1518,2,3458,218,217,1028,282,0
1,9b3b43aa,171,17,4,468,1289,7,1663,246,234,923,174,0
2,02f14240,155,500,6,272,523,13,1798,225,282,847,114,0
3,345fc18e,153,155,10,106,844,9,1569,367,364,1007,137,0
4,30ec9daf,152,30,10,83,423,5,803,185,184,189,68,0

In [198]:
df_final_num = df_final.drop(columns="person")

### Prueba

In [199]:
# Separamos la variable a predecir

X, y = df_final_num.iloc[:,:-1], df_final_num.iloc[:,-1]

# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [204]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [205]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [206]:
# Predecimos

preds = xg_reg.predict(X_test)

In [207]:
# Vemos que onda

train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.9268054197513619
Test acuracy:  0.9167597765363128
ROC auc score:  0.5237218284622123
Confusion matrix:
[[1635   97]
 [  52    6]]

## Distancia entre primer y ultimo dia de entrada al sitio

In [208]:
timestamp_df = df[["person", "timestamp"]]
ultimo_dia = timestamp_df.groupby("person")["timestamp"].max().rename("ultimo").reset_index()
primer_dia = timestamp_df.groupby("person")["timestamp"].min().rename("primer").reset_index()
distancia_dias = pd.merge(primer_dia, ultimo_dia, on="person", how="inner")
distancia_dias["distan_dias"] = (distancia_dias["ultimo"] - distancia_dias["primer"]).dt.days
distancia_dias = distancia_dias[["person", "distan_dias"]]
distancia_dias.head()

     person  distan_dias
0  0008ed71            0
1  00091926           27
2  00091a7a            0
3  000ba417            9
4  000c79fe            0

In [209]:
# Merge

df_con_distancias = pd.merge(distancia_dias, df_final, on="person", how="inner")
df_con_distancias_num = df_con_distancias.drop(columns="person")
df_con_distancias_num.head()

,distan_dias,cant_city,cant_src,cant_eng,cant_mod,cant_ev,check_tot,cant_entradas,cant_mes_5,entradas_30_dias,cant_mes,cant_dia_freq,label
0,0,1,1,1,4,9,1,17,17,16,17,17,0
1,114,12,17,12,63,189,15,471,290,358,290,72,0
2,79,8,4,6,20,52,1,96,54,64,54,17,0
3,67,5,10,10,8,17,3,54,5,26,46,22,0
4,62,2,2,1,3,17,1,38,26,25,26,26,0

### Prueba

In [210]:
# Separamos la variable a predecir

X, y = df_con_distancias_num.iloc[:,:-1], df_con_distancias_num.iloc[:,-1]

# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [211]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [212]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [213]:
# Predecimos

preds = xg_reg.predict(X_test)

In [214]:
# Vemos que onda

train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.9115798295851376
Test acuracy:  0.9067039106145252
ROC auc score:  0.59551431955538
Confusion matrix:
[[1608  125]
 [  42   15]]

## Cantidad de modelos distintos vistos por cada usuario

In [215]:
modelos_df = df[["person", "model"]]
cant_modelos = modelos_df.groupby("person")["model"].nunique().rename("modelos_dist").reset_index()
cant_modelos.head()

     person  modelos_dist
0  0008ed71             3
1  00091926            36
2  00091a7a             3
3  000ba417            26
4  000c79fe             1

In [216]:
# Merge 

df_con_modelos = pd.merge(cant_modelos, df_con_distancias, on="person", how="inner")
df_con_modelos_num = df_con_modelos.drop(columns="person")
df_con_modelos_num.head()

,modelos_dist,distan_dias,cant_city,cant_src,cant_eng,cant_mod,cant_ev,check_tot,cant_entradas,cant_mes_5,entradas_30_dias,cant_mes,cant_dia_freq,label
0,1,0,1,1,1,4,9,1,17,17,16,17,17,0
1,26,114,12,17,12,63,189,15,471,290,358,290,72,0
2,6,79,8,4,6,20,52,1,96,54,64,54,17,0
3,6,67,5,10,10,8,17,3,54,5,26,46,22,0
4,9,62,2,2,1,3,17,1,38,26,25,26,26,0

### Prueba

In [217]:
# Separamos la variable a predecir

X, y = df_con_modelos_num.iloc[:,:-1], df_con_modelos_num.iloc[:,-1]

# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [218]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [219]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [220]:
# Predecimos

preds = xg_reg.predict(X_test)

In [221]:
# Vemos que onda

train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.8923033943288169
Test acuracy:  0.8759776536312849
ROC auc score:  0.5881292961196991
Confusion matrix:
[[1552  181]
 [  41   16]]

## Cantidad de días distintos de entrada al sitio

In [222]:
df_dias = df[["person", "timestamp"]]
df_dias["day_of_year"] = df_dias["timestamp"].dt.dayofyear
cant_dias_dist = df_dias.groupby("person")["day_of_year"].nunique().rename("cant_dias_dist").reset_index()
cant_dias_dist.head()

C:\Users\seba\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     person  cant_dias_dist
0  0008ed71               1
1  00091926              22
2  00091a7a               1
3  000ba417               3
4  000c79fe               1

In [223]:
# Merge 

df_con_dias_dist = pd.merge(cant_dias_dist, df_con_modelos, on="person", how="inner")
df_con_dias_dist_num = df_con_dias_dist.drop(columns="person")
df_con_dias_dist_num.head()

,cant_dias_dist,modelos_dist,distan_dias,cant_city,cant_src,cant_eng,cant_mod,cant_ev,check_tot,cant_entradas,cant_mes_5,entradas_30_dias,cant_mes,cant_dia_freq,label
0,1,1,0,1,1,1,4,9,1,17,17,16,17,17,0
1,14,26,114,12,17,12,63,189,15,471,290,358,290,72,0
2,11,6,79,8,4,6,20,52,1,96,54,64,54,17,0
3,6,6,67,5,10,10,8,17,3,54,5,26,46,22,0
4,2,9,62,2,2,1,3,17,1,38,26,25,26,26,0

In [61]:
df_con_dias_dist_num.shape

(8949, 15)

### Prueba

In [225]:
# Separamos la variable a predecir

X, y = df_con_dias_dist_num.iloc[:,:-1], df_con_dias_dist_num.iloc[:,-1]

# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [226]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [227]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [228]:
# Predecimos

preds = xg_reg.predict(X_test)

In [229]:
# Vemos que onda

train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.8885319178656237
Test acuracy:  0.8759776536312849
ROC auc score:  0.6050961217238133
Confusion matrix:
[[1550  183]
 [  39   18]]

## Promedio de entradas por dia

In [230]:
entradas_tot = df.groupby("person").agg({"person": "count"})
#cant_entradas_tot = entradas_tot[["person", "entradas_tot"]]
entradas_tot.columns = ["cant_entradas"]
entradas_tot.reset_index(inplace=True)

df_dias = df[["person", "timestamp"]]
df_dias["day_of_year"] = df_dias["timestamp"].dt.dayofyear
cant_dias_dist = df_dias.groupby("person")["day_of_year"].nunique().rename("cant_dias_dist").reset_index()

entradas_tot_y_dias = pd.merge(entradas_tot, cant_dias_dist, on="person", how="inner")
entradas_tot_y_dias["promedio_por_dia"] = (entradas_tot_y_dias["cant_dias_dist"] / entradas_tot_y_dias["cant_entradas"])
entradas_tot_y_dias.head()

C:\Users\seba\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

     person  cant_entradas  cant_dias_dist  promedio_por_dia
0  0008ed71              6               1          0.166667
1  00091926            448              22          0.049107
2  00091a7a             10               1          0.100000
3  000ba417            206               3          0.014563
4  000c79fe             17               1          0.058824

In [231]:
entradas_tot_y_dias = entradas_tot_y_dias[["person", "promedio_por_dia"]]

## Promedio de entradas por mes

In [232]:
df_mes = df[["person", "month"]]
cant_meses_dist = df_mes.groupby("person")["month"].nunique().rename("cant_meses_dist").reset_index()

entradas_tot_y_meses = pd.merge(entradas_tot, cant_meses_dist, on="person", how="inner")
entradas_tot_y_meses["promedio_por_mes"] = (entradas_tot_y_meses["cant_meses_dist"] / entradas_tot_y_meses["cant_entradas"])
entradas_tot_y_meses = entradas_tot_y_meses[["person", "promedio_por_mes"]]

entradas_tot_y_meses.head()

     person  promedio_por_mes
0  0008ed71          0.166667
1  00091926          0.002232
2  00091a7a          0.100000
3  000ba417          0.004854
4  000c79fe          0.058824

In [233]:
# Merge

labels_con_promedios = pd.merge(entradas_tot_y_meses, entradas_tot_y_dias, on="person", how="inner")
labels_con_promedios = pd.merge(labels_con_promedios, df_con_dias_dist, on="person", how="inner")
labels_con_promedios_num = labels_con_promedios.drop(columns="person")
labels_con_promedios_num.head()

,promedio_por_mes,promedio_por_dia,cant_dias_dist,modelos_dist,distan_dias,cant_city,cant_src,cant_eng,cant_mod,cant_ev,check_tot,cant_entradas,cant_mes_5,entradas_30_dias,cant_mes,cant_dia_freq,label
0,0.058824,0.058824,1,1,0,1,1,1,4,9,1,17,17,16,17,17,0
1,0.008493,0.029724,14,26,114,12,17,12,63,189,15,471,290,358,290,72,0
2,0.031250,0.114583,11,6,79,8,4,6,20,52,1,96,54,64,54,17,0
3,0.055556,0.111111,6,6,67,5,10,10,8,17,3,54,5,26,46,22,0
4,0.052632,0.052632,2,9,62,2,2,1,3,17,1,38,26,25,26,26,0

### Prueba

In [286]:
# Separamos la variable a predecir

X, y = labels_con_promedios_num.iloc[:,:-1], labels_con_promedios_num.iloc[:,-1]

# Convertimos los datos a DMatrix

data_dmatrix = xgb.DMatrix(data=X,label=y)

#Creamos set de entrenamiento y test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [287]:
#Instanciamos el regresor de XGBoost

ratio = float(np.sum(y_train == 0)) / np.sum(y_train == 1)

xg_reg = xgb.XGBRegressor(objective ='binary:hinge', 
                colsample_bytree = 0.8, learning_rate = 0.1,
                max_depth = 5, n_estimators = 6, scale_pos_weight = 1, min_child_weight=1)

In [288]:
#Entrenamos

xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=6,
       n_jobs=1, nthread=None, objective='binary:hinge', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [289]:
# Predecimos

preds = xg_reg.predict(X_test)

In [290]:
# Vemos 
train_accuracy = accuracy_score(y_train, xg_reg.predict(X_train))
test_accuracy = accuracy_score(y_test, preds)
matriz_de_confusion = confusion_matrix(y_test, preds)
area_debajo_de_curva = roc_auc_score(y_test, preds)

print("Train accuracy: ", train_accuracy)
print("Test acuracy: ", test_accuracy)
print("ROC auc score: ", area_debajo_de_curva)
print("Confusion matrix: ")
print(matriz_de_confusion)

Train accuracy:  0.8770778041625925
Test acuracy:  0.876536312849162
ROC auc score:  0.6308348771524889
Confusion matrix:
[[1548  185]
 [  36   21]]