In [1]:
import pandas as pd  0.8426759712524037
import numpy as np  
import matplotlib.pyplot as plt 
%matplotlib inline

from datetime import timedelta, datetime

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score, mean_squared_error, confusion_matrix,\
                            f1_score,precision_score,recall_score,classification_report,cohen_kappa_score, brier_score_loss
import xgboost as xgb
from sklearn import preprocessing

In [2]:
df_time_features = pd.read_csv("santi_timefeatures.csv")

In [3]:
df_time_features = df_time_features.drop(columns = ['Unnamed: 0'])

In [4]:
df_time_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38829 entries, 0 to 38828
Columns: 105 entries, person to dia_del_anio_135
dtypes: float64(89), int64(15), object(1)
memory usage: 31.1+ MB

In [5]:
list(df_time_features.columns)

['person',
 'mes_1',
 'mes_2',
 'mes_3',
 'mes_4',
 'mes_5',
 'dia_1',
 'dia_2',
 'dia_3',
 'dia_4',
 'dia_5',
 'dia_6',
 'dia_7',
 'dia_8',
 'dia_9',
 'dia_10',
 'dia_11',
 'dia_12',
 'dia_13',
 'dia_14',
 'dia_15',
 'dia_16',
 'dia_17',
 'dia_18',
 'dia_19',
 'dia_20',
 'dia_21',
 'dia_22',
 'dia_23',
 'dia_24',
 'dia_25',
 'dia_26',
 'dia_27',
 'dia_28',
 'dia_29',
 'dia_30',
 'dia_31',
 'primer_quincena',
 'segunda_quincena',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'fin_de_semana',
 'martes_miercoles_jueves',
 'hora_0',
 'hora_1',
 'hora_2',
 'hora_3',
 'hora_4',
 'hora_5',
 'hora_6',
 'hora_7',
 'hora_8',
 'hora_9',
 'hora_10',
 'hora_11',
 'hora_12',
 'hora_13',
 'hora_14',
 'hora_15',
 'hora_16',
 'hora_17',
 'hora_18',
 'hora_19',
 'hora_20',
 'hora_21',
 'hora_22',
 'hora_23',
 'hora_rango_0-3',
 'hora_rango_4-7',
 'hora_rango_8-11',
 'hora_rango_12-15',
 'hora_rango_16-19',
 'hora_rango_20-23',
 'Morning',
 'Afternoon',
 'Evening',
 'Night',
 'minuto_0-19',
 'minuto_20-39',
 'minuto_40-59',
 'semana_del_anio_21',
 'semana_del_anio_20',
 'semana_del_anio_22',
 'semana_del_anio_19',
 'semana_del_anio_18',
 'semana_del_anio_17',
 'semana_del_anio_16',
 'semana_del_anio_15',
 'semana_del_anio_14',
 'semana_del_anio_13',
 'dia_del_anio_149',
 'dia_del_anio_150',
 'dia_del_anio_151',
 'dia_del_anio_148',
 'dia_del_anio_142',
 'dia_del_anio_144',
 'dia_del_anio_143',
 'dia_del_anio_141',
 'dia_del_anio_136',
 'dia_del_anio_135']

In [6]:
df_time_features.head()

,person,mes_1,mes_2,mes_3,mes_4,mes_5,dia_1,dia_2,dia_3,dia_4,...,dia_del_anio_149,dia_del_anio_150,dia_del_anio_151,dia_del_anio_148,dia_del_anio_142,dia_del_anio_144,dia_del_anio_143,dia_del_anio_141,dia_del_anio_136,dia_del_anio_135
0,0008ed71,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00091926,0.0,0.0,0.0,0.0,448.0,0.0,0.0,7.0,0.0,...,3.0,0.0,16.0,0.0,12.0,0.0,36.0,21.0,1.0,22.0
2,00091a7a,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,0.0,0.0,0.0,0.0,206.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,79.0,0.0,0.0,0.0,0.0
4,000c79fe,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,...,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_events_features = pd.read_csv("Santi_FeaturesConEventos.csv")

In [9]:
df_events_features = df_events_features.drop(columns = ['Unnamed: 0'])

In [10]:
df_events_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38829 entries, 0 to 38828
Columns: 163 entries, person to adcampaignhit_yotpo
dtypes: float64(161), int64(1), object(1)
memory usage: 48.3+ MB

In [11]:
list(df_events_features.columns)

['person',
 'ad campaign hit',
 'brand listing',
 'checkout',
 'conversion',
 'generic listing',
 'lead',
 'search engine hit',
 'searched products',
 'staticpage',
 'viewed product',
 'visited site',
 'vis_iPhone 6S Plus',
 'vis_iPhone 7 Plus',
 'vis_iPhone 6 Plus',
 'vis_iPhone 6S',
 'vis_Samsung Galaxy S7 Edge',
 'vis_Samsung Galaxy S6 Flat',
 'vis_iPhone SE',
 'vis_Samsung Galaxy S6 Edge',
 'vis_iPhone 5s',
 'vis_Samsung Galaxy S5',
 'vis_Samsung Galaxy J5',
 'vis_iPhone 6',
 'vis_Samsung Galaxy A7 2017',
 'vis_iPhone 5c',
 'vis_Samsung Galaxy J7 2016 Metal',
 'checkout_iPhone 6S',
 'checkout_Samsung Galaxy J5',
 'checkout_Samsung Galaxy J7 Prime',
 'checkout_iPhone 7 Plus',
 'checkout_iPhone 4G',
 'checkout_Samsung Galaxy On 7',
 'checkout_Motorola Moto X Play 4G Dual',
 'checkout_Samsung Galaxy J7 2016 Metal',
 'checkout_iPhone 7',
 'checkout_Motorola Moto X2',
 'checkout_Samsung Galaxy S7',
 'checkout_iPhone 4S',
 'checkout_Lenovo Vibe A7010 Dual Chip',
 'checkout_Motorola Moto G4 Plus',
 'checkout_iPhone 5s',
 'viewedproduct_Cinza espacial',
 'viewedproduct_Preto',
 'viewedproduct_Branco',
 'viewedproduct_Prateado',
 'viewedproduct_Ouro Rosa',
 'viewedproduct_Prata',
 'viewedproduct_Rosa',
 'viewedproduct_Dourado',
 'viewedproduct_Azul',
 'viewedproduct_Ametista',
 'viewedproduct_Cinza',
 'viewedproduct_Preto Matte',
 'viewedproduct_Verde',
 'viewedproduct_Vermelho',
 'viewedproduct_Preto Brilhante',
 'viewedproduct_128GB',
 'viewedproduct_16GB',
 'viewedproduct_256GB',
 'viewedproduct_32GB',
 'viewedproduct_4GB',
 'viewedproduct_512MB',
 'viewedproduct_64GB',
 'viewedproduct_8GB',
 'viewedproduct_Bom',
 'viewedproduct_Bom - Sem Touch ID',
 'viewedproduct_Excelente',
 'viewedproduct_Muito Bom',
 'viewedproduct_Novo',
 'vuelve',
 'visitedsite_Sao Paulo',
 'visitedsite_region desconocida',
 'visitedsite_Minas Gerais',
 'visitedsite_Rio de Janeiro',
 'visitedsite_Bahia',
 'visitedsite_Pernambuco',
 'visitedsite_Ceara',
 'visitedsite_Parana',
 'visitedsite_Rio Grande do Sul',
 'visitedsite_Espirito Santo',
 'visitedsite_Federal District',
 'visitedsite_Maranhao',
 'visitedsite_Goias',
 'visitedsite_Santa Catarina',
 'visitedsite_Para',
 'visitedsite_Rio Grande do Norte',
 'visitedsite_ParaÃ­ba',
 'visitedsite_Piaui',
 'visitedsite_Alagoas',
 'visitedsite_Sergipe',
 'visitedsite_Amazonas',
 'visitedsite_Mato Grosso',
 'visitedsite_Tocantins',
 'visitedsite_Mato Grosso do Sul',
 'visitedsite_Rondonia',
 'visitedsite_Amapa',
 'visitedsite_Acre',
 'visitedsite_Roraima',
 'visitedsite_Computer',
 'visitedsite_Smartphone',
 'visitedsite_Tablet',
 'visitedsite_device desconocido',
 'visitedsite_360x640',
 'visitedsite_1366x768',
 'visitedsite_320x570',
 'visitedsite_1600x900',
 'visitedsite_320x534',
 'visitedsite_1280x1024',
 'visitedsite_412x732',
 'visitedsite_375x667',
 'visitedsite_414x736',
 'visitedsite_320x490',
 'visitedsite_1536x864',
 'visitedsite_320x569',
 'visitedsite_1920x1080',
 'visitedsite_1024x768',
 'visitedsite_1324x745',
 'visitedsite_Android 7',
 'visitedsite_Windows 7 ',
 'visitedsite_Windows 10 ',
 'visitedsite_Android 5.1',
 'visitedsite_Android 6.0.1',
 'visitedsite_Android 7.1.1',
 'visitedsite_Android 5.0.2',
 'visitedsite_Android 6',
 'visitedsite_Android 4.4.2',
 'visitedsite_iOS 11.2.6',
 'visitedsite_Windows Phone 8.1',
 'visitedsite_Android 4.1.2',
 'visitedsite_Windows Vista ',
 'visitedsite_iOS 10.3.3',
 'visitedsite_Android 8',
 'visitedsite_Chrome Mobile 66.0',
 'visitedsite_Chrome 65.0',
 'visitedsite_Chrome 66.0',
 'visitedsite_Chrome 64.0',
 'visitedsite_Chrome 63.0',
 'visitedsite_Chrome Mobile 65.0',
 'visitedsite_Chrome Mobile 64.0',
 'visitedsite_Chrome Mobile 39',
 'visitedsite_Chrome Mobile 63.0',
 'visitedsite_Samsung Internet 3.3',
 'visitedsite_Samsung Internet 6.4',
 'visitedsite_Mobile Safari 11',
 'visitedsite_IE Mobile 11',
 'visitedsite_Edge 16.16299',
 'visitedsite_Chrome Mobile 36.0',
 'adcampaignhit_rtbhouse',
 'adcampaignhit_criteo',
 'adcampaignhit_google',
 'adcampaignhit_zanox',
 'adcampaignhit_manifest',
 'adcampaignhit_bing',
 'adcampaignhit_afilio',
 'adcampaignhit_buscape',
 'adcampaignhit_rakuten',
 'adcampaignhit_FacebookAds',
 'adcampaignhit_indexa',
 'adcampaignhit_datacrush',
 'adcampaignhit_emblue',
 'adcampaignhit_blog',
 'adcampaignhit_yotpo']

In [12]:
df_train = pd.merge(df_events_features,df_time_features,on = 'person', how = 'inner')

In [16]:
df_train.head(7)

,person,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,...,dia_del_anio_149,dia_del_anio_150,dia_del_anio_151,dia_del_anio_148,dia_del_anio_142,dia_del_anio_144,dia_del_anio_143,dia_del_anio_141,dia_del_anio_136,dia_del_anio_135
0,0008ed71,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00091926,15.0,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,16.0,0.0,12.0,0.0,36.0,21.0,1.0,22.0
2,00091a7a,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000ba417,1.0,24.0,6.0,1.0,14.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,79.0,0.0,0.0,0.0,0.0
4,000c79fe,1.0,0.0,1.0,0.0,1.0,0.0,1.0,9.0,0.0,...,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,000e4d9e,19.0,17.0,1.0,0.0,17.0,0.0,5.0,0.0,0.0,...,61.0,7.0,0.0,7.0,79.0,29.0,5.0,20.0,195.0,0.0
6,000e619d,6.0,11.0,1.0,0.0,8.0,0.0,3.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,10.0